.articles--about {}

  .articles__content--about {}

  .articles__content:last-child .content__image--about {}

    .content__images--about {}

      .content__image--about {}

      .image__decoration--about {}

    .content__text--about {}

      .text__heading--about, .text__paragraph--about {}

      .text__heading--about {}

      .text__paragraph--about {}

      h1 + p.text__paragraph--about {}

      h2 + p.text__paragraph--about {}
  
    .articles__client-list {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

      .articles__client-list .articles__content--about:last-of-type .content__text--about .text__paragraph--about {
        padding-bottom: 0;
        border-bottom: none;
      }

@media screen and (min-width: 576px) {
  .articles--about {}

  .articles__content--about {}

  .articles__content:last-child .content__image--about {}

    .content__images--about {}

      .content__image--about {}

      .image__decoration--about {}

    .content__text--about {}

      .text__heading--about, .text__paragraph--about {}

      .text__heading--about {}

      .text__paragraph--about {}

      h1 + p.text__paragraph--about {}

      h2 + p.text__paragraph--about {}
  
    .articles__client-list {
      gap: 3rem;
    }

      .articles__client-list .articles__content--about:last-of-type {
        padding-bottom: 0;
        border-bottom: none;
      }
}

@media screen and (min-width: 768px) {
  .articles--about {}

  .articles__content--about {}

  .articles__content:last-child .content__image--about {}

    .content__images--about {}

      .content__image--about {}

      .image__decoration--about {}

    .content__text--about {}

      .text__heading--about, .text__paragraph--about {}

      .text__heading--about {}

      .text__paragraph--about {}

      h1 + p.text__paragraph--about {}

      h2 + p.text__paragraph--about {}
  
    .articles__client-list {}

      .articles__client-list .articles__content--about:last-of-type {}
}

@media screen and (min-width: 1200px) {
  .articles--about {
    margin: 6rem auto;
    padding: 6rem;
    border-radius: 2rem;
    box-shadow: var(--boxshadow-medium);
    background-color: var(--color-bg-light);
    max-width: 102.4rem;
  }

  .articles__content--about {}

  .articles__content:last-child .content__image--about {}

    .content__images--about {}

      .content__image--about {}

      .image__decoration--about {}

    .content__text--about {}

      .text__heading--about, .text__paragraph--about {}

      .text__heading--about {}

      .text__paragraph--about {}

      h1 + p.text__paragraph--about {}

      h2 + p.text__paragraph--about {}
  
    .articles__client-list {
      gap: 6rem;
    }

      .articles__client-list .articles__content--about:last-of-type {}
}

@media screen and (min-width: 1400px) {
  .articles--about {
    max-width: 128.0rem;
  }

  .articles__content--about {}

  .articles__content:last-child .content__image--about {}

    .content__images--about {}

      .content__image--about {}

      .image__decoration--about {}

    .content__text--about {}

      .text__heading--about, .text__paragraph--about {}

      .text__heading--about {}

      .text__paragraph--about {}

      h1 + p.text__paragraph--about {}

      h2 + p.text__paragraph--about {}
  
    .articles__client-list {}

      .articles__client-list .articles__content--about:last-of-type {}
}

@media screen and (min-width: 1920px) {
  .articles--about {
    max-width: 153.6rem;
  }

  .articles__content--about {}

  .articles__content:last-child .content__image--about {}

    .content__images--about {}

      .content__image--about {}

      .image__decoration--about {}

    .content__text--about {}

      .text__heading--about, .text__paragraph--about {}

      .text__heading--about {}

      .text__paragraph--about {}

      h1 + p.text__paragraph--about {}

      h2 + p.text__paragraph--about {}
  
    .articles__client-list {}

      .articles__client-list .articles__content--about:last-of-type {}
}
