.main--login {
  display: flex;
  flex-direction: column;
}

  .main__wrapper--login {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

    .main__banner--login {
      flex-shrink: 0;
      max-height: none;
    }

    .main__banner--login > img {
      
    }

@media screen and (min-width: 576px) {
  .main__banner--login {
  }
}

@media screen and (min-width: 768px) {
  .main--login {
    flex-direction: row;
    gap: 2rem;
  }
  
    .main__wrapper--login {
      padding: 6rem 3rem;
      gap: 2rem;
      border-radius: 2rem;
      flex-direction: row;
    }

      .main__banner--login {
        display: inline-flex;
        align-items: center;
        /* max based on header height & top/bottom padding */
        min-height: 40.8rem;
        max-height: calc(100vh - 11.1rem);
        min-width: 40.8rem;
        max-width: calc(100vh - 11.1rem);
        aspect-ratio: 1;
        flex-shrink: 1;
      }

        .main__banner--login img {
        }
}
@media screen and (min-width: 1200px) {
  .main--login {
    gap: 3rem;
    width: auto;
  }
  
    .main__wrapper--login {
      width: auto;
      max-width: 102.4rem;
      padding: 0;
      margin: 3rem auto;
      overflow: hidden;
      gap: 3rem;
      box-shadow: var(--boxshadow-medium);
      background-color: var(--color-bg-light);
    }

      .main__banner--login {
        min-height: 57.1rem;
        max-height: calc(100vh - 11.1rem);
        min-width: 57.1rem;
        max-width: calc(100vh - 11.1rem);
        z-index: 0;
      }

        .main__banner--login img {

        }
}
@media screen and (min-width: 1400px) {
  .main__wrapper--login {
    margin: 6rem auto;
    max-width: 128rem;
  }

    .main__banner--login {
      max-height: calc(100vh - 17.1rem);
      max-width: calc(100vh - 17.1rem); 
    }
}

@media screen and (min-width: 1920px) {}