.articles--tools {

}

  .articles__content--tools {
    
  }

  .articles__content:last-child .content__image--tools {

  }

    .content__images--tools {

    }

      .content__image--tools {
        
      }

      .image__decoration--tools {

      }

    .content__text--tools {

    }

      .text__heading--tools, .text__paragraph--tools {

      }

      .text__heading--tools {

      }

      .text__paragraph--tools {

      }

      h1 + p.text__paragraph--tools {

      }

      h2 + p.text__paragraph--tools {

      }

@media screen and (min-width: 576px) {
  .articles--tools {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
  }
  
    .articles__content--tools {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 2rem;
    }

      .articles__content--tools:last-child {
        flex-wrap: wrap;
      }

        .articles__content--tools:last-child .content__images--tools {
          width: 100%;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 2rem;
        }
        
          .articles__content--tools:last-child .content__image--tools {
            width: 100%;
            max-width: calc(50% - 1rem);
          }
  
    .articles__content:first-child .content__text--tools {
      min-height: 0;
    }

      .content__images--tools {

      }

        .content__image--tools {
          min-width: 24rem;
          margin: 0;
        }
    
          .image__decoration--tools {
            
          }
  
      .content__text--tools {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
  
        .text__heading--tools, .text__paragraph--tools {
          padding: 0;
        }
  
        .text__heading--tools {
          
        }
  
        .text__paragraph--tools {
  
        }
  
        h1 + p.text__paragraph--tools {
  
        }
  
        h2 + p.text__paragraph--tools {
  
        }
}
@media screen and (min-width: 768px) {
  .articles--tools {
    padding: 3rem;
    gap: 3rem;
  }
  
    .articles__content--tools {
      gap: 3rem;
      justify-content: start;
    }
  
    .articles__content:first-child .content__text--tools {
      
    }

      .articles__content--tools:last-child .content__text--tools {
        max-width: 76.8rem;
      }

        .articles__content--tools:last-child .content__images--tools {
          gap: 3rem;
        }
        
          .articles__content--tools:last-child .content__image--tools {
            width: calc(50% - 1.5rem);
            max-width: 51.2rem;
          }

      .content__images--tools {
        min-width: 50rem;
        width: 50rem;
        gap: 3rem;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: fit-content;
      }

        .content__images .content__image {
          
        }

        .content__image--tools {
          min-width: 25.6rem;
          width: 34%;
          max-width: 51.2rem;
          flex-shrink: 0;
        }
    
          .image__decoration--tools {
          }
    
      .content__text--tools {
        max-width: 51.2rem;
      }
  
        .text__heading--tools, .text__paragraph--tools {
          
        }
  
        h1.text__heading--tools {
          font-size: 4rem;
        }

        h2.text__heading--tools {
          font-size: 3rem;
        }
  
        .text__paragraph--tools {
          width: 100%;
        }
  
        h1 + p.text__paragraph--tools {
          font-size: 3rem;
        }
  
        h2 + p.text__paragraph--tools {
          font-size: 2rem;
        }
}
@media screen and (min-width: 1200px) {
  .articles--tools {
    
  }
  
    .articles__content--tools {
      
    }
  
    .articles__content--tools:first-child {
      
    }

    .articles__content--tools:last-child {
      
    }

    .articles__content:first-child .content__text--tools {
       
    }

      .content__images--tools {
        
      }

        .content__image--tools {
          
        }
    
          .image__decoration--tools {
            
          }
    
      .content__text--tools {
        
      }
  
        .text__heading--tools, .text__paragraph--tools {
          
        }
  
        h1.text__heading--tools {
          font-size: 4.8rem;
        }

        h2.text__heading--tools {
          font-size: 3.6rem;
        }
  
        .text__paragraph--tools {
  
        }
  
        h1 + p.text__paragraph--tools {
          font-size: 3.6rem;
        }
  
        h2 + p.text__paragraph--tools {
          font-size: 2.4rem;
        }
}
@media screen and (min-width: 1400px) {}
@media screen and (min-width: 1920px) {}
