.articles--tools {}

  .articles__content--tools {}

  .articles__content--tools:last-child .content__image--tools {}

  .articles__content--tools:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }  

    .content__images--tools {}

      .content__image--tools {}

      .image__decoration--tools {}

    .content__text--tools {}

      .text__heading--tools, .text__paragraph--tools {}

      .text__heading--tools {}

      .text__paragraph--tools {}

      h1 + p.text__paragraph--tools {}

      h2 + p.text__paragraph--tools {}

@media screen and (min-width: 576px) {
  .articles--tools {}

  .articles__content--tools {}

  .articles__content--tools:last-child .content__image--tools {}

  .articles__content--tools:last-child {}  

    .content__images--tools {}

      .content__image--tools {}

      .image__decoration--tools {}

    .content__text--tools {}

      .text__heading--tools, .text__paragraph--tools {}

      .text__heading--tools {}

      .text__paragraph--tools {}

      h1 + p.text__paragraph--tools {}

      h2 + p.text__paragraph--tools {}
}

@media screen and (min-width: 768px) {
  .articles--tools {}

  .articles__content--tools {}

  .articles__content--tools:last-child .content__image--tools {}

  .articles__content--tools:last-child {}  

    .content__images--tools {}

      .content__image--tools {}

      .image__decoration--tools {}

    .content__text--tools {}

      .text__heading--tools, .text__paragraph--tools {}

      .text__heading--tools {}

      .text__paragraph--tools {}

      h1 + p.text__paragraph--tools {}

      h2 + p.text__paragraph--tools {}
}

@media screen and (min-width: 1200px) {
  .articles--tools {
    margin: 6rem auto;
    padding: 6rem;
    border-radius: 2rem;
    box-shadow: var(--boxshadow-medium);
    background-color: var(--color-bg-light);
    max-width: 102.4rem;
  }

  .articles__content--tools {}

  .articles__content--tools:last-child .content__image--tools {}

  .articles__content--tools:last-child {}  

    .content__images--tools {
      gap: 3rem;
    }

      .content__image--tools {}

      .image__decoration--tools {}

    .content__text--tools {}

      .text__heading--tools, .text__paragraph--tools {}

      .text__heading--tools {}

      .text__paragraph--tools {}

      h1 + p.text__paragraph--tools {}

      h2 + p.text__paragraph--tools {}
}

@media screen and (min-width: 1400px) {
  .articles--tools {
    max-width: 128.0rem;
  }

  .articles__content--tools {}

  .articles__content--tools:last-child .content__image--tools {}

  .articles__content--tools:last-child {}  

    .content__images--tools {}

      .content__image--tools {}

      .image__decoration--tools {}

    .content__text--tools {}

      .text__heading--tools, .text__paragraph--tools {}

      .text__heading--tools {}

      .text__paragraph--tools {}

      h1 + p.text__paragraph--tools {}

      h2 + p.text__paragraph--tools {}
}

@media screen and (min-width: 1920px) {
  .articles--tools {
    max-width: 153.6rem;
  }

  .articles__content--tools {}

  .articles__content--tools:last-child .content__image--tools {}

  .articles__content--tools:last-child {}  

    .content__images--tools {}

      .content__image--tools {}

      .image__decoration--tools {}

    .content__text--tools {}

      .text__heading--tools, .text__paragraph--tools {}

      .text__heading--tools {}

      .text__paragraph--tools {}

      h1 + p.text__paragraph--tools {}

      h2 + p.text__paragraph--tools {}
}
