.articles--tools {

}

  .articles__content--tools {
    
  }

  .articles__content:last-child .content__image--tools {

  }

    .content__images--tools {

    }

      .content__image--tools {

      }

      .image__decoration--tools {

      }

    .content__text--tools {

    }

      .text__heading--tools, .text__paragraph--tools {

      }

      .text__heading--tools {

      }

      .text__paragraph--tools {

      }

      h1 + p.text__paragraph--tools {

      }

      h2 + p.text__paragraph--tools {

      }

@media screen and (min-width: 576px) {
  .articles--tools {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
  }
  
    .articles__content--tools {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 2rem;
    }
  
    .articles__content:first-child .content__text--tools {
      min-height: 0;
    }

      .content__images--tools {

      }

        .content__image--tools {
          min-width: 24rem;
          margin: 0;
        }
    
          .image__decoration--tools {
            
          }
  
      .content__text--tools {
        display: flex;
        flex-direction: column;
        min-height: 24rem;
        gap: 1rem;
      }
  
        .text__heading--tools, .text__paragraph--tools {
          padding: 0;
        }
  
        .text__heading--tools {
          
        }
  
        .text__paragraph--tools {
  
        }
  
        h1 + p.text__paragraph--tools {
  
        }
  
        h2 + p.text__paragraph--tools {
  
        }
}
@media screen and (min-width: 768px) {
  .articles--tools {
    
  }
  
    .articles__content--tools {
      
    }
  
    .articles__content:first-child .content__text--tools {
      
    }

      .content__images--tools {
        min-width: 50rem;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
      }

        .content__image--tools {
          
        }
    
          .image__decoration--tools {
            
          }
    
      .content__text--tools {
        
      }
  
        .text__heading--tools, .text__paragraph--tools {
          
        }
  
        .text__heading--tools {
          
        }
  
        .text__paragraph--tools {
  
        }
  
        h1 + p.text__paragraph--tools {
  
        }
  
        h2 + p.text__paragraph--tools {
  
        }
}
@media screen and (min-width: 1200px) {
  .articles--tools {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 96rem;
    padding: 2rem 0;
    gap: 2rem;
  }
  
    .articles__content--tools {
      max-width: calc(50% - 1rem);
    }
  
    .articles__content--tools:first-child {
      max-width: none;
    }

    .articles__content--tools:last-child {
      max-width: none;
    }

    .articles__content:first-child .content__text--tools {
       
    }

      .content__images--tools {
        
      }

        .content__image--tools {
          
        }
    
          .image__decoration--tools {
            
          }
    
      .content__text--tools {
        width: 100%;
      }
  
        .text__heading--tools, .text__paragraph--tools {
          
        }
  
        .text__heading--tools {
          
        }
  
        .text__paragraph--tools {
  
        }
  
        h1 + p.text__paragraph--tools {
  
        }
  
        h2 + p.text__paragraph--tools {
  
        }
}
@media screen and (min-width: 1400px) {}
@media screen and (min-width: 1920px) {}
