.slides {
}

  .slides__slideshow {
    background-color: var(--color-bg-grey);
    position: relative;
  }

    .slides__slideshow--character {

    }

    .slides__slideshow--animal {

    }

    .slides__slideshow--places {

    }

    .slides__slideshow--food {

    }

    .slides__slideshow--people {

    }    

    .slideshow__header {
      display: flex;
      align-items: center;
      padding: .75rem;
      gap: .75rem;
    }

      .header__character {
        background-color: var(--color-heading-chara);
      }

      .header__animal {
        background-color: var(--color-heading-animal);
      }

      .header__places {
        background-color: var(--color-heading-places);
      }

      .header__food {
        background-color: var(--color-heading-food);
      }

      .header__people {
        background-color: var(--color-heading-people);
      }


      .slideshow__header__link {
        min-width: 0;
        width: 2.5rem;
        min-height: 0;
        height: 2.5rem;
        margin: 1.25rem;
        display: inline-block;
        background: url('../../../assets/img/ui/icons/menu__external-link.svg') no-repeat center / 2.5rem;
        transition: filter 200ms;
        outline: none;
        position: relative;
      }

        .slideshow__header__link::after {
          content: "";
          display: block;
          position: absolute;
          width: 5rem;
          height: 5rem;
          top: -1.25rem;
          right: -1.25rem;
        }

        .slideshow__header__link:focus, .slideshow__header__link:hover {
          filter: brightness(0.5);
        }

      .slideshow__header__title {
        margin: 0;
        font-size: 2rem;
        color: var(--color-font-light);
      }

    .slideshow__main {
      display: flex;
      overflow-x: scroll;
      background-color: var(--color-bg-light);
      /* Note to self: to perfectly center image, use calc((100vw - min(75vw, 25.6rem)) / 2) -- assuming image width of 25.6rem */
      padding: 2rem 50vw;
      gap: 2rem;
      scroll-snap-type: x mandatory;
    }

    .slideshow__button {
      position: absolute;
      border-radius: 50%;
      top: calc(6.5rem + min(75vw, 25.6rem) / 2);
      border: .2rem solid white;
      box-shadow: var(--boxshadow-dark);
      transition-property: filter;
      transition-duration: 200ms;
    }
    
      .slideshow__button--backward {
        left: 1rem;
      }

        .slideshow__button--backward::before {
          /* I want the transform to only affect the icon */
          content: "";
          display: block;
          position: absolute;
          width: 5rem;
          height: 5rem;
          /* this -.2rem is from the borders */
          top: -.2rem;
          right: -.2rem;
          background: transparent url('../../../assets/img/ui/icons/arrow__slider--white.svg') no-repeat center / 2.5rem;
          transform: rotateY(180deg);
        }
      
      .slideshow__button--forward {
        right: 1rem;
        background: var(--color-main) url('../../../assets/img/ui/icons/arrow__slider--white.svg') no-repeat center / 2.5rem;
      }

      .slideshow__main__image {
        display: inline-block;
        border-radius: 2rem;
        min-width: min(25.6rem, 75vw);
        width: 75vw;
        max-width: max(256px, 25.6rem);
        aspect-ratio: 1;
        scroll-snap-align: center;

        background-color: var(--color-bg-grey);
        box-shadow: var(--boxshadow-medium);
      }

    .slideshow__footer {
      display: flex;
      flex-wrap: wrap;
      max-width: 23rem;
      justify-content: space-between;
      padding: 2rem;
      margin: auto;
      gap: 2rem;
    }

      .slideshow__footer__thumbnails {
        display: inline-block;
        width: 5rem;
        height: 5rem;
        border: none;
        border-radius: 50%;
        background-color: var(--color-bg-light);
        box-shadow: var(--boxshadow-dark);
        transition: filter 200ms;
        outline: none;
      }

@media screen and (min-width: 576px) {
  .slides {}
  
    .slides__slideshow {}
  
      .slideshow__header {
        padding: 1.75rem;
      }
  
        .header__character {}
  
        .header__animal {}
  
        .header__places {}
  
        .header__food {}
  
        .header__people {}
  
  
        .slideshow__header__link {}
  
        .slideshow__header__title {}
  
      .slideshow__main {
        gap: 3rem;
      }
  
        .slideshow__main__image {}

      .slideshow__button {
        top: calc(8.5rem + min(75vw, 25.6rem) / 2);
      }
  
      .slideshow__footer {
        padding: 3rem;
        max-width: none;
        gap: 0;
      }
  
        .slideshow__footer__thumbnails {}
}
@media screen and (min-width: 768px) {
  .slides {

  }
  
    .slides__slideshow {
      
    }
  
      .slideshow__header {
        padding: 2.375rem;
        gap: 2.375rem;
      }
  
        .header__character {
          
        }
  
        .header__animal {
          
        }
  
        .header__places {
          
        }
  
        .header__food {
          
        }
  
        .header__people {
          
        }
  
  
        .slideshow__header__link {
        }
  
        .slideshow__header__title {
          font-size: 2.5rem;
        }
  
      .slideshow__main {
        
      }
  
        .slideshow__main__image {
          
        }
  
      .slideshow__button {
        top: calc(9.75rem + min(75vw, 25.6rem) / 2);
      }

      .slideshow__footer {
        gap: 3rem;
        justify-content: center;
      }
  
        .slideshow__footer__thumbnails {

        }
}

@media screen and (min-width: 1200px) {
  .slides {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    max-width: 278.4rem;
    padding: 6rem 0;
    margin: 0 auto;
    /*background-color: var(--color-bg-grey);*/
  }
  
    .slides__slideshow {
      display: inline-block;
      border-radius: 2rem;
      overflow: hidden;
      /* (25.6rem * 3 elements) + (3rem * 4 gaps) + (1rem * 2 borders) = 90.8rem */
      max-width: 90.8rem;
      box-shadow: var(--boxshadow-medium);
    }
  
      .slides__slideshow--character {
      }
      
      .slides__slideshow--animal {
      }
      
      .slides__slideshow--places {
      }
      
      .slides__slideshow--food {
      }
      
      .slides__slideshow--people {
      }

      .slideshow__header {
        padding: 2rem 3rem 3rem;
        gap: 3rem;
      }
  
        .header__character {}
  
        .header__animal {}
  
        .header__places {}
  
        .header__food {}
  
        .header__people {}
  
        .slideshow__header__link {
        }
  
        .slideshow__header__title {
          font-size: 3rem;
        }
  
      .slideshow__main {
        flex-wrap: wrap;
        justify-content: center;
        padding: 3rem;
        gap: 3rem;
        overflow-x: auto;
        scroll-snap-type: none;
      }
  
        .slideshow__main__image {}
  
      .slideshow__footer {
        display: none;
      }
  
        .slideshow__footer__thumbnails {}
}
@media screen and (min-width: 1400px) {}

@media screen and (min-width: 1920px) {
  .slides {
  }
  
    .slides__slideshow {
    }
  
      .slides__slideshow--character {
      }
      
      .slides__slideshow--animal {
      }
      
      .slides__slideshow--places {
      }
      
      .slides__slideshow--food {
      }
      
      .slides__slideshow--people {
      }

      .slideshow__header {
      }
  
        .header__character {}
  
        .header__animal {}
  
        .header__places {}
  
        .header__food {}
  
        .header__people {}
  
        .slideshow__header__link {
        }
  
        .slideshow__header__title {
        }
  
      .slideshow__main {
      }
  
        .slideshow__main__image {
        }
  
      .slideshow__footer {
      }
  
        .slideshow__footer__thumbnails {}
}