.slides {
}

  .slides__slideshow {
    background-color: var(--color-bg-grey);
  }

    .slides__slideshow--character {

    }

    .slides__slideshow--animal {

    }

    .slides__slideshow--places {

    }

    .slides__slideshow--food {

    }

    .slides__slideshow--people {

    }    

    .slideshow__header {
      display: flex;
      align-items: center;
      padding: .75rem;
      gap: .75rem;
    }

      .header__character {
        background-color: var(--color-heading-chara);
      }

      .header__animal {
        background-color: var(--color-heading-animal);
      }

      .header__places {
        background-color: var(--color-heading-places);
      }

      .header__food {
        background-color: var(--color-heading-food);
      }

      .header__people {
        background-color: var(--color-heading-people);
      }


      .slideshow__header__link {
        display: inline-block;
        background: url('../../../assets/img/ui/icons/menu__external-link.svg') no-repeat center / 2.5rem;
      }

      .slideshow__header__title {
        margin: 0;
        font-size: 2rem;
        color: var(--color-font-light);
      }

    .slideshow__main {
      display: flex;
      overflow-x: scroll;
      background-color: var(--color-bg-light);
      padding: 2rem;
      gap: 2rem;
      scroll-snap-type: x mandatory;
    }

      .slideshow__main__image {
        border-radius: 2rem;
        min-width: 20rem;
        width: 40%;
        max-width: max(256px, 25.6rem);
        aspect-ratio: 1;
        scroll-snap-align: center;
        flex-shrink: 0;
        background-color: var(--color-bg-grey);
      }

    .slideshow__footer {
      display: flex;
      flex-wrap: wrap;
      max-width: 28rem;
      justify-content: space-between;
      padding: 2rem;
      margin: auto;
      gap: 1rem;
    }

      .slideshow__footer__thumbnails {
        display: inline-block;
        width: 5rem;
        height: 5rem;
        border: none;
        border-radius: 50%;
        background-color: var(--color-bg-light);
      }

@media screen and (min-width: 576px) {
  .slides {}
  
    .slides__slideshow {}
  
      .slideshow__header {
        padding: 1.75rem;
      }
  
        .header__character {}
  
        .header__animal {}
  
        .header__places {}
  
        .header__food {}
  
        .header__people {}
  
  
        .slideshow__header__link {}
  
        .slideshow__header__title {}
  
      .slideshow__main {
        padding: 3rem;
        gap: 3rem;
      }
  
        .slideshow__main__image {}
  
      .slideshow__footer {
        padding: 3rem;
        max-width: none;
      }
  
        .slideshow__footer__thumbnails {}
}
@media screen and (min-width: 768px) {
  .slides {

  }
  
    .slides__slideshow {
      
    }
  
      .slideshow__header {
        padding: 2.375rem;
        gap: 2.375rem;
      }
  
        .header__character {
          
        }
  
        .header__animal {
          
        }
  
        .header__places {
          
        }
  
        .header__food {
          
        }
  
        .header__people {
          
        }
  
  
        .slideshow__header__link {
          background: url('../../../assets/img/ui/icons/menu__external-link.svg') no-repeat center / 3.75rem;
        }
  
        .slideshow__header__title {
          font-size: 4rem;
        }
  
      .slideshow__main {
        
      }
  
        .slideshow__main__image {
          
        }
  
      .slideshow__footer {
        
      }
  
        .slideshow__footer__thumbnails {

        }
}

@media screen and (min-width: 1200px) {
  .slides {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    max-width: 278.4rem;
    padding: 6rem 0;
    margin: 0 auto;
    /*background-color: var(--color-bg-grey);*/
  }
  
    .slides__slideshow {
      display: inline-block;
      border-radius: 1rem;
      overflow: hidden;
      /* (25.6rem * 3 elements) + (3rem * 4 gaps) + (1rem * 2 borders) = 90.8rem */
      max-width: 90.8rem;
      border: 1rem solid #000;
    }
  
      .slides__slideshow--character {
        border-color: var(--color-heading-chara);
      }
      
      .slides__slideshow--animal {
        border-color: var(--color-heading-animal);
      }
      
      .slides__slideshow--places {
        border-color: var(--color-heading-places);
      }
      
      .slides__slideshow--food {
        border-color: var(--color-heading-food);
      }
      
      .slides__slideshow--people {
        border-color: var(--color-heading-people);
      }

      .slideshow__header {
        padding: 2rem 3rem 3rem;
        gap: 3rem;
      }
  
        .header__character {}
  
        .header__animal {}
  
        .header__places {}
  
        .header__food {}
  
        .header__people {}
  
        .slideshow__header__link {
          background: url('../../../assets/img/ui/icons/menu__external-link.svg') no-repeat center / 5rem;
        }
  
        .slideshow__header__title {
          font-size: 6rem;
        }
  
      .slideshow__main {
        flex-wrap: wrap;
        justify-content: center;
        padding: 3rem;
        gap: 3rem;
        overflow-x: auto;
        scroll-snap-type: none;
      }
  
        .slideshow__main__image {}
  
      .slideshow__footer {
        display: none;
      }
  
        .slideshow__footer__thumbnails {}
}
@media screen and (min-width: 1400px) {}

@media screen and (min-width: 1920px) {
  .slides {
  }
  
    .slides__slideshow {
    }
  
      .slides__slideshow--character {
      }
      
      .slides__slideshow--animal {
      }
      
      .slides__slideshow--places {
      }
      
      .slides__slideshow--food {
      }
      
      .slides__slideshow--people {
      }

      .slideshow__header {
      }
  
        .header__character {}
  
        .header__animal {}
  
        .header__places {}
  
        .header__food {}
  
        .header__people {}
  
        .slideshow__header__link {
        }
  
        .slideshow__header__title {
        }
  
      .slideshow__main {
      }
  
        .slideshow__main__image {
        }
  
      .slideshow__footer {
      }
  
        .slideshow__footer__thumbnails {}
}