.slides {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-grey);
}

  .slides__slideshow {
    background-color: var(--color-bg-light);
    border-bottom: .1rem solid var(--color-border-default);
    margin-bottom: 1rem;
    position: relative;
  }

    .slides__slideshow--character {

    }

    .slides__slideshow--animal {

    }

    .slides__slideshow--places {

    }

    .slides__slideshow--food {

    }

    .slides__slideshow--people {

    }    

    .slideshow__header {
      display: flex;
      align-items: center;
      padding: .75rem;
      gap: .75rem;
    }

      .header__character {
        background-color: var(--color-heading-chara);
      }

      .header__animal {
        background-color: var(--color-heading-animal);
      }

      .header__places {
        background-color: var(--color-heading-places);
      }

      .header__food {
        background-color: var(--color-heading-food);
      }

      .header__people {
        background-color: var(--color-heading-people);
      }

      .slideshow__header__link {
        min-width: 0;
        width: 2.5rem;
        min-height: 0;
        height: 2.5rem;
        margin: 1.25rem;
        display: inline-block;
        background: url('../../../assets/img/ui/icons/menu__external-link.svg') no-repeat center / 2.5rem;
        transition: filter 200ms;
        outline: none;
        position: relative;
      }

        .slideshow__header__link::after {
          content: "";
          display: block;
          position: absolute;
          width: 5rem;
          height: 5rem;
          top: -1.25rem;
          right: -1.25rem;
        }

        .slideshow__header__link:focus, .slideshow__header__link:hover {
          filter: brightness(0.5);
        }

      .slideshow__header__title {
        margin: 0;
        font-size: 2rem;
        color: var(--color-font-light);
      }

    .slideshow__main {
      display: flex;
      overflow-x: scroll;
      /* Note to self: to perfectly center image, use calc((100vw - min(75vw, 25.6rem)) / 2) -- assuming image width of 25.6rem */
      padding: 2rem 50vw 1.333rem;
      margin-bottom: 0.667rem;
      gap: 2rem;
      scroll-snap-type: x mandatory;
    }

    .slideshow__button {
      position: absolute;
      border-radius: 50%;
      /* This was way harder than it should be, honestly. Formula: (Header height + Main top padding + (Image height / 2) - (Button Height / 2) */
      top: calc(6.5rem + 2rem + min(75vw, 25.6rem) / 2 - 2.5rem);
      border: .2rem solid white;
      box-shadow: var(--boxshadow-dark);
      outline: none;
      transition-property: filter;
      transition-duration: 200ms;
    }

      .slideshow__button:active {
        animation: var(--animation-click);
      }
    
      .slideshow__button--previous {
        left: 1rem;
      }

        .slideshow__button--previous::before {
          /* I want the transform to only affect the icon */
          content: "";
          display: block;
          position: absolute;
          width: 5rem;
          height: 5rem;
          /* this -.2rem is from the borders */
          top: -.2rem;
          right: -.2rem;
          background: transparent url('../../../assets/img/ui/icons/arrow__slider--white.svg') no-repeat center / 2.5rem;
          transform: rotateY(180deg);
        }
      
      .slideshow__button--next {
        right: 1rem;
        background: var(--color-main) url('../../../assets/img/ui/icons/arrow__slider--white.svg') no-repeat center / 2.5rem;
      }

      .slideshow__main__image {
        display: inline-block;
        border-radius: 2rem;
        /* If the image doesn't load, having a min-width allows it to look normal, instead of a weird shadowy column */
        min-width: min(25.6rem, 75vw);
        width: 75vw;
        max-width: max(256px, 25.6rem);
        aspect-ratio: 1;
        scroll-snap-align: center;

        background-color: var(--color-bg-grey);
        box-shadow: var(--boxshadow-medium);
      }

    .slideshow__footer {
      display: flex;
      flex-wrap: wrap;
      max-width: 23rem;
      justify-content: space-between;
      padding: 0 2rem 2rem;
      margin: auto;
      gap: 2rem;
    }

      .slideshow__footer__thumbnails {
        display: inline-block;
        width: 5rem;
        height: 5rem;
        border: none;
        border-radius: 50%;
        background-size: 100%;
        background-color: var(--color-bg-light);
        box-shadow: var(--boxshadow-dark);
        transition: filter 200ms;
        outline: none;
      }

        .slideshow__footer__thumbnails:active {
          animation: var(--animation-click);
        }

@media screen and (min-width: 576px) {
  .slides {}
  
    .slides__slideshow {
      margin-bottom: 2rem;
    }
  
      .slideshow__header {
        padding: 1.5rem;
        gap: 1.5rem;
      }
  
        .header__character {}
  
        .header__animal {}
  
        .header__places {}
  
        .header__food {}
  
        .header__people {}
  
  
        .slideshow__header__link {}
  
        .slideshow__header__title {}
  
      .slideshow__main {
        /* 2/3 padding & 1/3 margin due to mobile scrollbar... at least in Chrome(ium?) */
        padding: 3rem 50vw 2rem;
        margin-bottom: 1rem;
        gap: 3rem;
      }
  
        .slideshow__main__image {}

      .slideshow__button {
        top: calc(8rem + 3rem + min(75vw, 25.6rem) / 2 - 2.5rem);
      }
      
        .slideshow__button--previous {
          left: 2rem;
        }
  
          .slideshow__button--previous::before {
          }
        
        .slideshow__button--next {
          right: 2rem;
        }
  
      .slideshow__footer {
        padding: 0 3rem 3rem;
        max-width: none;
        gap: 0;
      }
  
        .slideshow__footer__thumbnails {}
}
@media screen and (min-width: 768px) {
  .slides {

  }
  
    .slides__slideshow {
      margin-bottom: 3rem;
    }
  
      .slideshow__header {
        padding: 2.25rem;
        gap: 2.25rem;
      }
  
        .header__character {
          
        }
  
        .header__animal {
          
        }
  
        .header__places {
          
        }
  
        .header__food {
          
        }
  
        .header__people {
          
        }
  
  
        .slideshow__header__link {
        }
  
        .slideshow__header__title {
          font-size: 2.5rem;
        }
  
      .slideshow__main {
        
      }
  
        .slideshow__main__image {
          
        }
  
      .slideshow__button {
        top: calc(9.5rem + 3rem + min(75vw, 25.6rem) / 2 - 2.5rem);
      }

        .slideshow__button--previous {
          left: 3rem;
        }

          .slideshow__button--previous::before {
          }
        
        .slideshow__button--next {
          right: 3rem;
        }

      .slideshow__footer {
        gap: 3rem;
        justify-content: center;
      }
  
        .slideshow__footer__thumbnails {

        }
}

@media screen and (min-width: 1200px) {
  .slides {
    gap: 3rem;
    padding: 6rem 3rem;
    margin: 0 auto;
  }
  
    .slides__slideshow {
      max-width: 102.4rem;
      border-radius: 2rem;
      overflow: hidden;
      box-shadow: var(--boxshadow-medium);
      margin: 0 auto;
    }
  
      .slides__slideshow--character {
      }
      
      .slides__slideshow--animal {
      }
      
      .slides__slideshow--places {
      }
      
      .slides__slideshow--food {
      }
      
      .slides__slideshow--people {
      }

      .slideshow__header {
        padding: 3rem;
        gap: 3rem;
      }
  
        .header__character {}
  
        .header__animal {}
  
        .header__places {}
  
        .header__food {}
  
        .header__people {}
  
        .slideshow__header__link {
        }
  
        .slideshow__header__title {
          font-size: 3rem;
        }
  
      .slideshow__main {
        /* 50% minus half of an image's width */
        padding: 6rem calc(50% - min(15vw, 25.6rem)) 3rem;
        margin-bottom: 3rem;
      }
  
        .slideshow__main__image {
          flex-grow: 1;
          flex-shrink: 0;
          min-width: min(256px, 25.6rem);
          width: 30vw;
          max-width: max(512px, 51.2rem);
        }

      .slideshow__button {
        top: calc(11rem + 6rem + min(30vw, 51.2rem) / 2 - 2.5rem)
      }

        .slideshow__button--previous {
          left: 3rem;
        }

          .slideshow__button--previous::before {
          }
        
        .slideshow__button--next {
          right: 3rem;
        }
  
      .slideshow__footer {
      }
  
        .slideshow__footer__thumbnails {}
}
@media screen and (min-width: 1400px) {
  .slides {}
  
    .slides__slideshow {
      max-width: 128rem;
    }
  
      .slides__slideshow--character {}
      
      .slides__slideshow--animal {}
      
      .slides__slideshow--places {}
      
      .slides__slideshow--food {}
      
      .slides__slideshow--people {}

      .slideshow__header {}
  
        .header__character {}
  
        .header__animal {}
  
        .header__places {}
  
        .header__food {}
  
        .header__people {}
  
        .slideshow__header__link {}
  
        .slideshow__header__title {}
  
      .slideshow__main {}
  
        .slideshow__main__image {}

      .slideshow__button {}

        .slideshow__button--previous {}

          .slideshow__button--previous::before {}
        
        .slideshow__button--next {}
  
      .slideshow__footer {}
  
        .slideshow__footer__thumbnails {}
}

@media screen and (min-width: 1920px) {
  .slides {}
  
    .slides__slideshow {}
  
      .slides__slideshow--character {}
      
      .slides__slideshow--animal {}
      
      .slides__slideshow--places {}
      
      .slides__slideshow--food {}
      
      .slides__slideshow--people {}

      .slideshow__header {}
  
        .header__character {}
  
        .header__animal {}
  
        .header__places {}
  
        .header__food {}
  
        .header__people {}
  
        .slideshow__header__link {}
  
        .slideshow__header__title {}
  
      .slideshow__main {}
  
        .slideshow__main__image {}
  
      .slideshow__footer {}
  
        .slideshow__footer__thumbnails {}
}