.preview__thumbnails {
  padding-bottom: 1rem;
  margin: 0 2rem;
  overflow: scroll;
}

  .thumbnails__category {
    display: flex;
    padding-bottom: 1rem;
    gap: 2rem;
  }

    .category__thumb {
      border: none;
      border-radius: 50%;
      transition: filter 200ms;
    }
