.preview__thumbnails {
  padding: 0 0 1rem 2rem;
  margin-right: 2rem;
  overflow: scroll;
}

  .thumbnails__category {
    display: flex;
    padding-bottom: 1rem;
    gap: 2rem;
  }

    .category__thumb {
      border: none;
      border-radius: 50%;
    }
