.main__introduction {
  padding: 2rem 2rem 1rem;
  background-color: var(--color-main);
}

  .introduction__title, .introduction__paragraph {
    color: var(--color-font-light);
    padding-bottom: 1rem;
    margin: 0 auto;
    max-width: 51.6rem;
  }

  .introduction__title {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 2.4rem;
    text-transform: uppercase;
  }

    .title__decoration {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      color: var(--color-main);
      background-color: var(--color-font-light);
    }

  .introduction__paragraph {
    font-size: 1.6rem;
  }

@media screen and (min-width: 576px) {
  .main__introduction {
    padding: 3rem 3rem 2rem;
  }
  
    .introduction__title, .introduction__paragraph {}
  
    .introduction__title {}
  
      .title__decoration {}
  
    .introduction__paragraph {}
}

@media screen and (min-width: 768px) {
  .main__introduction {
    
  }
  
    .introduction__title, .introduction__paragraph {}
  
    .introduction__title {}
  
      .title__decoration {}
  
    .introduction__paragraph {}
}
@media screen and (min-width: 1200px) {}
@media screen and (min-width: 1400px) {}
@media screen and (min-width: 1920px) {}