.main__introduction {
  padding: 2rem 2rem 0;
  background-color: var(--color-main);
}

  .introduction__title, .introduction__paragraph {
    color: var(--color-font-light);
    padding-bottom: 2rem;
    margin: 0;
  }

  .introduction__title {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 2.4rem;
    text-transform: uppercase;
  }

    .title__decoration {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      color: var(--color-main);
      background-color: var(--color-font-light);
    }

  .introduction__paragraph {
    font-size: 1.6rem;
  }
