.main__introduction {
  padding: 2rem 2rem .5rem;
  background-color: var(--color-main);
}

  .introduction__title, .introduction__paragraph {
    color: var(--color-font-light);
    padding-bottom: 1rem;
    margin: 0 auto;
    max-width: 96rem;
  }

  .introduction__title {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 2.4rem;
    text-transform: uppercase;
  }

    .title__decoration {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 3.6rem;
      width: 4.8rem;
      height: 4.8rem;
      border-radius: 50%;
      color: var(--color-main);
      background-color: var(--color-font-light);
    }

  .introduction__paragraph {
    font-size: 1.6rem;
  }

@media screen and (min-width: 576px) {
  .main__introduction {
    padding: 3rem 3rem 1.5rem;
  }
  
    .introduction__title, .introduction__paragraph {}
  
    .introduction__title {
      padding-bottom: 3rem;
    }
  
      .title__decoration {}
  
    .introduction__paragraph {
      padding-bottom: 1.5rem;
    }
}

@media screen and (min-width: 768px) {
  .main__introduction {
    
  }
  
    .introduction__title, .introduction__paragraph {}
  
    .introduction__title {
      font-size: 3rem;
    }
  
      .title__decoration {
        font-size: 4.5rem;
        width: 6rem;
        height: 6rem;
      }
  
    .introduction__paragraph {
      font-size: 2rem;
    }
}
@media screen and (min-width: 1200px) {
  .main__introduction {
    padding: 6rem 0rem 4.5rem;
  }
  
    .introduction__title, .introduction__paragraph {}
  
    .introduction__title {
      font-size: 3.6rem;
      padding-bottom: 3rem;
    }
  
      .title__decoration {
        font-size: 5.4rem;
        width: 7.2rem;
        height: 7.2rem;
      }
  
    .introduction__paragraph {
      font-size: 2.4rem;
      padding-bottom: 1.5rem;
    }
}
@media screen and (min-width: 1400px) {}
@media screen and (min-width: 1920px) {}