.header {
  display: flex;
  justify-content: space-between;
  position: fixed;

  background-color: var(--color-bg-light);
  border-bottom: .1rem solid var(--color-main);

  width: 100%;
  height: 5.1rem;

  padding: 0 1rem;

  z-index: 1;

  box-shadow: var(--boxshadow-medium);
}

  .header__logo {
    background: transparent url('../../assets/img/ui/logo/logo__artificial.svg') no-repeat center / 2.5rem;
    transition-property: border-bottom, background-image, background-color;
    transition-duration: 200ms;
    outline: none;
  }

    .header__logo:hover, .header__logo:focus {
      background-image: url('../../assets/img/ui/logo/logo__artificial--white.svg');
      background-color: var(--color-main);
    }

  .header__menu {
    display: flex;
  }

    .menu__account {
      display: inline-block;
      outline: none;
      transition-property: background-color;
      transition-duration: 200ms;
    }

      .menu__account:hover, .menu__account:focus {
        background-color: var(--color-main);
      }

        .menu__account:hover .account__profile-icon, .menu__account:focus .account__profile-icon  {
          filter: brightness(1.5);
        }
    
      .account__profile-icon {
        width: inherit;
        height: inherit;
        border-radius: 50%;
        padding: 1.25rem;
      }

    .menu__submenu {
      padding: 0;
      margin: 0;
      border: 0;
      border-radius: 0;
      outline: none;

      background: transparent url('../../assets/img/ui/icons/menu__submenu.svg') no-repeat center / 2.5rem;

      box-shadow: none;
      transition-property: background-image, background-color;
      transition-duration: 200ms;
    }

      .menu__submenu:hover, .menu__submenu:focus {
        background-image: url('../../assets/img/ui/icons/menu__submenu--white.svg');
        background-color: var(--color-main);
        filter: none;
      }

      .submenu__options {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 21rem;
        right: -21rem;
        background-color: var(--color-bg-light);
        border-left: .1rem solid var(--color-main);

        transition-property: all;
        transition-duration: 200ms;
        transition-timing-function: linear;

        box-shadow: var(--boxshadow-medium);
      }

        .options__option {
          display: flex;
          justify-content: left;
          align-items: center;
          width: auto;
          height: 5.1rem;
          padding: 0 1.25rem 0 5rem;
          border-bottom: .1rem solid var(--color-main);
          font-family: Roboto;
          font-weight: 400;
          text-transform: none;

          transition-property: background-color, background-image, color;
          transition-duration: 200ms;
          outline: none;
        }

          .options__option:hover, .options__option:focus {
            background-color: var(--color-main);
            color: var(--color-font-light);
            filter: none;
          }
        
          .option__close {
            background-color: transparent;
            border-top: none;
            border-right: none;
            border-left: none;
            border-radius: 0;

            background-image: url('../../assets/img/ui/icons/menu__close.svg');
            cursor: pointer;
            color: inherit;

            box-shadow: none;
          }

            .option__close:hover, .option__close:focus {
              background-image: url('../../assets/img/ui/icons/menu__close--white.svg');
            }
          
          .option__link {
            color: inherit;
            text-decoration: none;
          }

            .link__text {
              font-size: 2rem;
            }

            .link__home, .link__gallery, .link__tools, .link__contact, .link__about, .option__close {
              background-color: transparent;
              background-repeat: no-repeat;
              background-position: 1.25rem center;
              background-size: 2.5rem;
            }

            .link__home {
              background-image: url('../../assets/img/ui/icons/page__home.svg');
            }

              .link__home:hover, .link__home:focus {
                background-image: url('../../assets/img/ui/icons/page__home--white.svg');
              }

            .link__gallery {
              background-image: url('../../assets/img/ui/icons/page__gallery.svg');
            }

              .link__gallery:hover, .link__gallery:focus {
                background-image: url('../../assets/img/ui/icons/page__gallery--white.svg');
              }

            .link__tools {
              background-image: url('../../assets/img/ui/icons/page__tools.svg');
            }

              .link__tools:hover, .link__tools:focus {
                background-image: url('../../assets/img/ui/icons/page__tools--white.svg');
              }

            .link__contact {
              background-image: url('../../assets/img/ui/icons/page__contact.svg');
            }

              .link__contact:hover, .link__contact:focus {
                background-image: url('../../assets/img/ui/icons/page__contact--white.svg');
              }

            .link__about {
              background-image: url('../../assets/img/ui/icons/page__about.svg');
            }

              .link__about:hover, .link__about:focus {
                background-image: url('../../assets/img/ui/icons/page__about--white.svg');
              }

@media screen and (min-width: 576px) {
  .header {
    padding: 0 2rem;
  }
  
    .header__logo {}
  
    .header__menu {}
  
      .menu__account {}
      
        .account__profile-icon {}
  
      .menu__submenu {}
  
        .submenu__options {}
  
          .options__option {}
          
            .option__close {}
            
            .option__link {}
  
              .link__text {}
  
              .link__home, .link__gallery, .link__tools, .link__contact, .link__about, .option__close {}
  
              .link__home {}
  
              .link__gallery {}
  
              .link__tools {}
  
              .link__contact {}
  
              .link__about {}
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0 2rem;
  }
  
    .header__logo {}
  
    .header__menu {}
  
      .menu__account {}
      
        .account__profile-icon {}
  
      .menu__submenu {}
  
        .submenu__options {}
  
          .options__option {}
          
            .option__close {}
            
            .option__link {}
  
              .link__text {}
  
              .link__home, .link__gallery, .link__tools, .link__contact, .link__about, .option__close {}
  
              .link__home {}
  
              .link__gallery {}
  
              .link__tools {}
  
              .link__contact {}
  
              .link__about {}
}

@media screen and (min-width: 1200px) {
  .header {
    
  }
    
    .header__logo {
    }

      .header__logo:hover, .header__logo:focus {
        
      }
  
    .header__menu {
      display: none;
    }
  
      .menu__account {
        
      }

        .menu__account:hover, .menu__account:focus {
          
        }

        .menu__account--mobile {
          display: none;
        }
      
        .account__profile-icon {}
  
      .menu__submenu {
        display: none;
      }
  
        .submenu__options {
          display: flex;
          flex-direction: row;
          width: auto;
          position: initial;
          border-left: none;
          gap: 0;
          box-shadow: none;
        }

          .submenu__options--mobile {
            display: none;
          }
  
          .options__option {
          }

            .options__option:hover, .options__option:focus {
              
            }
          
            .option__close {
              display: none;
            }

              .option__close ~ * {
                display: none;
              }
            
            .option__link {
            }
  
              .link__text {
                font-size: 1.2rem;
              }
  
              .link__home, .link__gallery, .link__tools, .link__contact, .link__about, .option__close {
                
              }
  
              .link__home {}
  
              .link__gallery {}
  
              .link__tools {}
  
              .link__contact {}
  
              .link__about {}
}

@media screen and (min-width: 1400px) {
  .header {}
  
    .header__logo {}
  
    .header__menu {}
  
      .menu__account {}
      
        .account__profile-icon {}
  
      .menu__submenu {}
  
        .submenu__options {}
  
          .options__option {}
          
            .option__close {}
            
            .option__link {}
  
              .link__text {}
  
              .link__home, .link__gallery, .link__tools, .link__contact, .link__about, .option__close {}
  
              .link__home {}
  
              .link__gallery {}
  
              .link__tools {}
  
              .link__contact {}
  
              .link__about {}
}