.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-main);
  
  font-size: 1.2rem;
  line-height: 1.25;
  color: var(--color-font-light);
  border-top: .1rem solid var(--color-bg-light);

  padding: 2rem 2rem 0;
}

  .footer__about {
    padding-bottom: 2rem;
    margin-bottom: 1.5rem;
    border-bottom: .1rem solid var(--color-font-light);
  }

    .about__title {
      font-size: 2rem;
      padding-bottom: 1rem;
      margin: 0;
      text-transform: uppercase;
    }

    .about__description {
      width: 24rem;
      font-size: 1.6rem;
      margin: 0 auto;
    }
  
  .footer__other {
    padding-bottom: 2rem;
    width: 100%;
  }

    .other__social {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 13rem;
      padding-bottom: 1rem;
      margin: 0 auto;
      gap: 2rem;
    }

      .social__link {
        display: inline-block;
        position: relative;
        
        min-width: 0;
        width: 3rem;
        min-height: 0;
        height: 3rem;

        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;

        border-radius: 50%;
        box-shadow: var(--boxshadow-dark);

        outline: none;
        transition: filter 200ms;
      }

        .social__link::after {
          content: "";
          position: absolute;
          width: 5rem;
          height: 5rem;
          top: -1rem;
          right: -1rem;
        }

        .social__link:hover, .social__link:focus {
          filter: brightness(0.5);     
        }

        .link-linkedin {
          background-image: url('../../assets/img/ui/logo/linkedin.svg');
        }

        .link-github {
          background-image: url('../../assets/img/ui/logo/github.svg');
        }

        .link-alura {
          background-image: url('../../assets/img/ui/logo/alura.svg');
        }

        .link-whatsapp {
          background-image: url('../../assets/img/ui/logo/whatsapp.svg');
        }

        .link-telegram {
          background-image: url('../../assets/img/ui/logo/telegram.svg');
        }

    .other__copyright {
      margin: auto;
      text-align: center;
    }

@media screen and (min-width: 576px) {
  .footer {
    flex-direction: row;
    justify-content: center;
    padding: 1.5rem;
  }
  
    .footer__about {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: start;
      width: 100%;
      max-width: 30rem;
      gap: 2rem;
      padding: 1.5rem 3rem 1.5rem 0;
      /* Margin-left due to 4rem social icons (.5rem left & right) */
      margin-left: .5rem;
      margin-bottom: 0;
      border-bottom: none;
      border-right: .1rem solid var(--color-font-light);
    }
  
      .about__title {
        padding-bottom: 0;
      }
  
      .about__description {
        margin: 0;
        width: 100%;
      }
    
    .footer__other {
      display: flex;
      flex-direction: column;
      width: auto;
      padding: 0 0 0 2.5rem;
    }
  
      .other__social {
      }
  
        .social__link {}

          .social__link:hover {}
  
          .link-linkedin {}
  
          .link-github {}
  
          .link-alura {}
  
          .link-whatsapp {}
  
          .link-telegram {}
  
      .other__copyright {
        
      }
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 1.5rem 0 1.5rem;
    justify-content: center;
    font-size: 1.8rem;
  }
  
    .footer__about {
      padding: 1.5rem 3rem 1.5rem 0;
      max-width: 47rem;
    }
  
      .about__title {
        font-size: 2.5rem;
      }
  
      .about__description {
        font-size: 2rem;
      }
    
    .footer__other {}
  
      .other__social {
        padding-bottom: 2rem;
        max-width: 23rem;
      }
  
        .social__link {}

          .social__link:hover {}
  
          .link-linkedin {}
  
          .link-github {}
  
          .link-alura {}
  
          .link-whatsapp {}
  
          .link-telegram {}
  
      .other__copyright {}
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 3rem 0;
    font-size: 1.8rem;
  }
  
    .footer__about {
      padding: 3rem 3rem 3rem 0;
      max-width: 80rem;
    }
  
      .about__title {
        font-size: 3rem;
      }
  
      .about__description {
        font-size: 2.4rem;
      }
    
    .footer__other {
      max-width: 25.5rem;
    }
  
      .other__social {}
  
        .social__link {}

          .social__link:hover {}
  
          .link-linkedin {}
  
          .link-github {}
  
          .link-alura {}
  
          .link-whatsapp {}
  
          .link-telegram {}
  
      .other__copyright {}
}
@media screen and (min-width: 1400px) {}
@media screen and (min-width: 1920px) {}