@import './normalize.css';
@import './accessibility.css';

/* Font for headings */
@font-face {
  font-family: Orbitron;
  src: url('./assets/font/Orbitron/Orbitron-VariableFont_wght.ttf');
  font-display: swap;
}
/* Font for body */
@font-face {
  font-family: Roboto;
  src: url('./assets/font/Roboto/Roboto-LightItalic.ttf');
  font-style: italic;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url('./assets/font/Roboto/Roboto-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url('./assets/font/Roboto/Roboto-Bold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* Animations */
@keyframes click {
  0% {transform: scale(1);}
  25% {transform: scale(0.9);}
  50% {transform: scale(1);}
  75% {transform: scale(1.1);}
  100% {transform: scale(1);}
}

@keyframes click-reverse {
  0% {transform: scale(1) rotateY(180deg);}
  25% {transform: scale(0.9) rotateY(180deg);}
  50% {transform: scale(1) rotateY(180deg);}
  75% {transform: scale(1.1) rotateY(180deg);}
  100% {transform: scale(1) rotateY(180deg);}
}

:root {
  --color-banner-home: #3C46FF;
  --color-banner-about: #FFFF66;
  --color-banner-contact: #FF6E3C;
  --color-banner-gallery: #42FFFF;
  --color-banner-tools: #51DA4C;
  --color-banner-nopage: #EEEEEE;

  --color-heading-chara: #A30000;
  --color-heading-animal: #005759;
  --color-heading-places: #005E00;
  --color-heading-food: #475300;
  --color-heading-people: #191984;

  --color-main: #0E4180;
  --color-main-dark: #07213F;
  --color-highlight: #0e418040;

  --color-bg-light: #ffffff;
  --color-bg-grey: #eeeeee;
  --color-bg-dark: #000000;

  --color-font-light: #EEEEEE;
  --color-font-dark: #212121;
  --color-font-placeholder: #555555;

  --color-boxshadow-light: #AAAAAA66;
  --color-boxshadow-medium: #55555566;
  --color-boxshadow-dark: #00000066;

  --color-border-light: #fff;
  --color-border-default: #BBBBBB;
  --color-border-dark: #000;

  --boxshadow-light: .2rem .2rem .4rem .2rem var(--color-boxshadow-light);
  --boxshadow-medium: .2rem .2rem .4rem .2rem var(--color-boxshadow-medium);
  --boxshadow-dark: .2rem .2rem .4rem .2rem var(--color-boxshadow-dark);
  --boxshadow-dark-reverse: -.2rem .2rem .4rem .2rem var(--color-boxshadow-dark);
  
  --animation-click: click 200ms linear 0s 1 none;
  --animation-click-reverse: click-reverse 200ms linear 0s 1 none;

  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color: var(--color-font-dark);
  background-color: var(--color-bg-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-size: 10px;  
}

/* Elements */
html {
  scroll-behavior: smooth;
}

body * {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Orbitron;
  font-weight: 900;
  line-height: 1;
  margin: 0;
}

h1 { font-size: 3.2rem; }
h2 { font-size: 2.4rem; }

img, picture {
  max-width: 100%;
  line-height: 0;
}

span {
  display: block;
  white-space: break-spaces;
}

/**/
button {
  background-color: var(--color-main);
  border: none;
  color: var(--color-font-light);
  font-size: 1.2rem;
  font-family: orbitron;
  font-weight: 700;
  text-transform: uppercase;
}

input {
  border: .1rem solid var(--color-main);
}

  input::placeholder {
    font-size: 1.2rem;
    color: var(--color-font-placeholder);
  }

a, button, input {
  -webkit-tap-highlight-color: transparent;
}

button, input, textarea {
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: var(--boxshadow-medium);
}

*:disabled {
  filter: brightness(0.5);
}

/* Default Effects */
button:hover, button:focus {
  filter: brightness(0.5);
}


/* Classes */
.main {
  padding-top: 5rem;

  /* Might re-apply later
  min-height: calc(100vh - 5rem);
  */
}

/* Generic classes */
.span__italic {
  font-family: Roboto;
  font-style: italic;
  font-weight: 200;
}

.span__no-wrap {
  display: inline-block;
}

.span__no-wrap--bold {
  display: inline-block;
  font-weight: 900;
}

/* JS classes */
.js__hidden {
  display: none;
}

.hide__768p {
  display: none;
}



/* CTRL + C & CTRL + V */
@media screen and (min-width: 576px) {
  
}

@media screen and (min-width: 768px) {
  .hide__768p {
    display: unset;
  }
}

@media screen and (min-width: 1200px) {
  #root {
    background-color: var(--color-bg-grey);
  }
}

@media screen and (min-width: 1400px) {}
@media screen and (min-width: 1920px) {
  :root {
    font-size: 0.55vw;
  }
}