.articles {
  padding: 1rem 2rem 0rem;
  margin: 0 auto;
}

  .articles__content {
    display: flex;
    flex-direction: column;
  }

  .articles__content:last-child .content__image {
      aspect-ratio: auto;
    }

    .content__images {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

      .content__image {
        display: inline-block;
        max-width: 25.6rem;
        height: fit-content;
        aspect-ratio: 1;
        line-height: 0;
        border-radius: 2rem;
        overflow: hidden;
        box-shadow: var(--boxshadow-medium);
      }

        .image__decoration {
          width: 100%;
        }

    .content__text {
      display: inline-block;
    }

      .text__heading, .text__paragraph {
        margin: 0;
      }

      .text__heading {
        padding: 1rem 0;
      }

      .text__paragraph {
        line-height: 1.25;
        padding-bottom: 2rem;
      }

        h1 + p.text__paragraph {
          font-size: 2.4rem;
        }

        h2 + p.text__paragraph {
          font-size: 1.6rem;
        }

/* For CTRL + C & CTRL + V

.articles
.articles__content
.articles__content:last-child .content__image
.content__image
.image__decoration
.content__text
.text__heading, .text__paragraph
.text__heading
.text__paragraph
h1 + p.text__paragraph
h2 + p.text__paragraph

*/

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
  .content__image {
    max-width: 51.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .content__image {
    max-width: 102.4rem;
  }
}

@media screen and (min-width: 1400px) {}

@media screen and (min-width: 1920px) {}