.articles {
  padding: 2rem 2rem 0;
}

  .articles__content {

  }

    .content__heading, .content__text {
      margin: 0;
    }

    .content__heading {
      padding-bottom: 1rem;
    }

    .content__text {
      line-height: 1.25;
      padding-bottom: 2rem;
    }

      h1 + p.content__text {
        font-size: 2.4rem;
      }

      h2 + p.content__text {
        font-size: 1.6rem;
      }

    .content__image {
      display: flex;
    }

      .image__decoration {
        padding-bottom: 2rem;
      }