.main__banner {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.main__banner--home {
  background: var(--color-banner-home) url('../../assets/img/ui/background/banner__home--light.svg') repeat center / 5%;
}
.main__banner--about {
  background: var(--color-banner-about) url('../../assets/img/ui/background/banner__about--light.svg') repeat center / 5vw;
}
.main__banner--tools {
  background: var(--color-banner-tools) url('../../assets/img/ui/background/banner__tools--light.svg') repeat center / 5vw;
}
.main__banner--contact {
  background: var(--color-banner-contact) url('../../assets/img/ui/background/banner__contact--light.svg') repeat center / 5vw;
}
.main__banner--gallery {
  background: var(--color-banner-gallery) url('../../assets/img/ui/background/banner__gallery--light.svg') repeat center / 5vw;
}
.main__banner--login {
  margin: 0;
  filter: sepia(1) hue-rotate(180deg);
  z-index: -1;
}
.main__banner--nopage {
  background: var(--color-banner-nopage) url('../../assets/img/ui/background/banner__nopage--light.svg') repeat center / 5vw;
}

  .banner__image {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  
@media screen and (min-width: 540px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 1024px) {}
@media screen and (min-width: 1360px) {}
@media screen and (min-width: 1920px) {}

